<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Logger" type="DJLibrary.Log.LoggerSectionHandler,DJLibrary" />
  </configSections>

  <Logger>
    <Sink Enable="1" Assembly="DJLibrary" Type="DJLibrary.Log.FileLogger">
      <Path>.\log\${DATE}.log</Path>
    </Sink>
  </Logger>
</configuration>